.text-title {
  align-items: flex-start;
  background-color: #ffffff00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 246px;
  position: relative;
  top: 20px;
  width: 200px;

  .text {
    align-items: center;
    align-self: stretch;
    color: #212529;
    display: flex;
    font-family: "Roboto", Helvetica;
    font-size: 20px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: 0;
    line-height: 24.0px;
    margin-top: -1.00px;
    position: relative;
  }
}
